body {
    overflow: scroll;
    background-image: url("../img/Picture.jpeg");
    background-repeat: repeat;
    margin: auto;
}
table {
    width: 30%;
    margin: 30px auto;
}

table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 25px;
    text-align: left;
    border-bottom: 3px solid grey;
    border-left: none;
}
th {
    background-color: #0d3b02e6;
    color: white

}

td {
    background-color: #c71a1400;
    color: grey;
}

td.one {
    background-color: white;
}