body {
    background-image: url("../img/Picture.jpeg");
    overflow: scroll;
    background-repeat: repeat;
}

div {
    margin: 30px auto;
}

table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 25px;
    border-bottom: 3px solid grey;
    border-left: none;
}

th {

    background-color: #0d3b02e6;
    color: white

}

td {

    background-color: #c71a1400;
    color: grey;
}
td.td1 {
    background-color:white;
}

