body {
    background-image: url("../img/Picture2.jpeg");
    overflow: scroll;
    background-repeat: repeat;
}

table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 25px;
    border-bottom: 3px solid grey;
    border-left: none;
    margin: 30px auto;
    width: 400px;
}

th {
    background-color: #0d3b02e6;
    color: white

}

td {
    background-color: #c71a1400;
    color: grey;
}

td.td1 {
    background-color: white;
}

